html {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  html {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-color: rgb(112, 185, 182);
    border-radius: 10px 20px 30px 40px;
  }


  html {
    padding: 0px;
  }

  header,img {
    background-color: rgb(193, 69, 123);
    text-align: center;
    padding: 0px;
    border-radius: 50%
    background-color: white;
  }

   img {
    border-radius: 50%;

  }

  ul {
    background-color: rgb(163, 88, 206)
  }

  h1 {
    text-align: centre;
    color: white
    font-size: 10px;
    margin: 0px;
    padding: 40px;}

  }

  h2 {
    font-size: 40px;
    background-color: #ccc;
    margin: 20px padding: 40px
  }

  h3 {
    text-align: center;
    color: rgb(77, 195, 234)
  }

  li,
  ul,
  a {
    color: rgb(80, 226, 80)
  }

  p {
    background-color: pink;
    text-align: center;
    color: black
    
  }

  footer {
    color: black
  }
    
  h2,h3{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: normal; 
    border-style: solid;
    padding: 10px;
    
    container {
        display: flex;
        padding: 20px;
    }

    box1 {
        border: 1px solid black;
        padding: 10px; 
        text-align: center;     
    }
    
    box2 {
        border: 1px solid black;
        padding: 10px;
        text-align centre
    }
   
    box3 {
      border: 1px solid black;
      padding: 10px;
      text-align centre
  }


    ul.sticky{
      position: -webkit-sticky
      position: sticky
    }

    article{
      flex basis: 70%;
      padding: 10px;
      border:bottom;
    }
    

    







   
    


      
  

